<!DOCTYPE html>
<html>
<head>
  <title>oVirt dashboard test ManageIQ plugin</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "ovirt_dashboard/rcue.min.css", media: "all" %>
  <%= stylesheet_link_tag "ovirt_dashboard/rcue-additions.min.css", media: "all" %>
  <%= stylesheet_link_tag "ovirt_dashboard/angular-patternfly.css", media: "all" %>
  <%= stylesheet_link_tag "ovirt_dashboard/angular-app.css", media: "all" %>
  <%= stylesheet_link_tag "ovirt_dashboard/dashboard.css", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="app"></div>
  <%= javascript_include_tag "ovirt_dashboard/main-tab.js" %>
</body>
</html>
